*{
    box-sizing: border-box;
}

h1 { 
    font-size: 3em;
color: rgb(133, 133, 133)
}

 h2{
    color:rgb(0, 162, 255)
 }

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: rgb(26, 26, 26);
    color:rgb(212, 212, 212);
}

input[type="button"]{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.5);
    color:rgb(212, 212, 212);
    background-color: rgb(4, 115, 241);
    
}

input[type="button"]:hover{
    background-color: rgb(13, 68, 131);
    color:rgb(24, 25, 26);
}

.container{
    max-width: 1400px;
    margin: auto;
}

img.image{
    display: flex;
    width:300px;
    height:300px;
    border-radius: 150px;
}

div.images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 1em ;
}

.TOP{
    display: flex;
    justify-content: space-around;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    
    
}

div.mail{
    display: flex;
    justify-content: end;
}

div.form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section.name{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.acerca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.experiencia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.educacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    width: 75%;
}